:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #817E9F;
  color: #2d2c38;
  background-color: #7FC29B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #65524D;
  background-color: #B5EF8A;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #075b5d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #817E9F;
  border-radius: 4px;
  box-sizing: border-box;
}

label, input, textarea {
  display: block;
  width: 75%;
  margin-bottom: 10px;
}

textarea {
  min-width: 30%;
  min-height: 200px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}